.locate-big{
    width: 177px;
    height: 217px;
    top: 14px;
    left: 13px;
    @include pad(){
        width: 139px;
        height: 171px;
        top: 11px;
        left: 10px;
    }
}
.big{
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 12px;
    @include pad(){
        width: 159px;
        height: 192px;
        padding-top: 11px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
.locate-small{
    width: 185px;
    height: 106px;
    top: 7px;
    left: 8px;
    @include pad(){
        width: 145px;
        height: 84px;
        top: 5px;
        left: 6px;
    }
}
.small{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 9px;
    @include pad(){ 
        width: 158px;
        height: 94px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 7px;
        padding-left: 6px;
    }
}
.activity{
    .act-items{
        width: 49%;
        @include pad(){
            width: 48%;
        }
        @include iphone(){
            width: 100%;
        }
        .card-pic{
            width: 40%;
        }
        .card-body{
            width: 60%;
        }
    }
    .card-height{
        height: 193px;
        @include pad(){
            height: 96px;
        }
    }
}
.act-btn{
    padding: 9px 25px;
    background: #fff;
    border: 1px solid $primary;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        background:$primary;
        color: #fff;
    }
    &:focus{
        box-shadow: 0px 0px 2px 2px rgb(192, 165, 145);
    }

}
.restarunt{
    .text-height{
            height: 42px;
    }
    .res-item{
        width: 19%;
        margin-bottom: 35px;
        @include pad(){
            width: 23%;
            height: 188px;
            margin-bottom: 26px;
        }
        @include iphone(){
            width: 48%;
        }
    }
    .res-pic{
        height: 137px;
        @include pad(){
            height: 96px;
        }
    }
}
.banner{
    background:url(../images/banner.png); 
    height: 536px;
    background-position:  center;
    background-size: cover;
    margin: 0 auto;
    @include pad(){
        background: $background;
        height: 125px;
    };
    @include iphone(){
        background: $white;
        height: auto;
        margin: 0;
    }
}
.menu{
    @include iphone(){
        padding-left: 31px;
        padding-right: 31px;
    }
}
.pagination{
    width: 90%;
}
.pagination-item{
    width: 35px;
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
    border-top: 2px solid $secondary;
    border-left:  1px solid $secondary;
    border-bottom: 2px solid $secondary;
    border-right: 1px solid $secondary;
    background: $background;
    color:  $third;
    &:hover{
        background: $secondary;
    }
}
.pagination-item:last-child{
    border-right: 2px solid $secondary;
}
.pagination-item:first-child{
    border-left: 2px solid $secondary;
}

.active{
    background: $secondary;
}