.busSite{
    width: 244px;
    cursor: pointer;
    border-bottom: 4px solid white;
    &:hover{
        border-bottom: 4px solid $primary;
    }
    @include iphone(){
        width: 164px;
    }
}
.form-transport{
    .icon-pic--find{
        top: -100px;
        left: 260px;
    }
    .icon-pic--location{
        top: -100px;
        left: 306px;
    }
}

.timeLine{
    .timeCount{
       width: 143px;
       height: 44px;
       border-radius: 7px;
       text-align: center;
       line-height: 40px;  
       @include iphone(){
           width: 79px;
       }
    }
    .site{
        width: 143px;
    }
    .unGo{
      border: 2px solid $grey;
      color: $grey;
    }
    .leave{
        border: 2px solid $secondary;
        color: $white;
        background: $secondary;
    }
    .arrive{
        border: 2px solid $primary;
        color: $white;
        background: $primary;
    }
    .time{
        border: 2px solid #0D0B0C;
        color: #0D0B0C;
    }
}
