img  {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*,*:after,*:before  {
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    color:#0D0B0C;

}

input::-webkit-input-placeholder {
    color: #D2D2D2;
    font-size: $font-m;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    
    @include pad {
        max-width: 768px;
    }
    @include iphone {
        max-width: 360px;
    }

}