.logo{
    background:url(../images/LOGO.png);
    width: 99px;
    height: 57px;
    display: block;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header{
    .border-bottom-primary{
        border-bottom: 1px solid #FF1D6C;
    }
    .border-bottom-secondary{
        border-bottom: 1px solid #FFB72C ;
    }
    .border-bottom-third{
        border-bottom: 1px solid #007350;
    }
    @include iphone(){
        .border-bottom-sm-none{
            border-bottom: none;
        }
    }
}

.footer{
    font-size: 12px;
    line-height: 65px;
    @include pad(){
        line-height: 32px;
    }
}
