.justify{
    &-start{
        justify-content: flex-start;
    }
    &-end{
        justify-content: flex-end;
    }
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
    @include pad{
        &-md-start{
            justify-content: flex-start;
        }
        &-md-end{
            justify-content: flex-end;
        }
        &-md-center{
            justify-content: center;
        }
        &-md-between{
            justify-content: space-between;
        }
    }
    @include iphone{
        &-sm-start{
            justify-content: flex-start;
        }
        &-sm-end{
            justify-content: flex-end;
        }
        &-sm-center{
            justify-content: center;
        }
        &-sm-between{
            justify-content: space-between;
        }
    }
}
.align{
    &-center{
        align-items: center;
    }
    &-star{
        align-items: flex-start;
    }
    &-end{
        align-items: flex-end;
    }
    @include pad {
        &-md-center{
            align-items: center;
        }
        &-md-star{
            align-items: flex-start;
        }
        &-md-end{
            align-items: flex-end;
        }
    }
    @include iphone{
        &-sm-center{
            align-items: center;
        }
        &-sm-star{
            align-items: flex-start;
        }
        &-sm-end{
            align-items: flex-end;
        }
    }
}
//flex-wrap
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
@include iphone(){
    .flex-sm-wrap{
        flex-wrap: wrap;
    }
}

// spacing
@for $i from 0 through 50{
    .mt-#{$i}{
        margin-top: $i * 4 + px;
    }
    .mb-#{$i}{
        margin-bottom: $i * 4 + px;
    }
    .me-#{$i}{
        margin-right: $i * 4 + px;
    }
    .ms-#{$i}{
        margin-left: $i * 4 + px;
    }
    .my-#{$i}{
        margin-top: $i * 4 + px;
        margin-bottom: $i * 4 + px;
    }
    .mx-#{$i}{
        margin-left: $i * 4 + px;
        margin-right: $i * 4 + px;
    }
    .m-#{$i}{
        margin: $i * 4 + px;
    }
}
@for $i from 0 through 50{
    @include pad{
        .mt-md-#{$i}{
            margin-top: $i * 4 + px;
        }
        .mb-md-#{$i}{
            margin-bottom: $i * 4 + px;
        }
        .me-md-#{$i}{
            margin-right: $i * 4 + px;
        }
        .ms-md-#{$i}{
            margin-left: $i * 4 + px;
        }
        .my-md-#{$i}{
            margin-top: $i * 4 + px;
            margin-bottom: $i * 4 + px;
        }
        .mx-md-#{$i}{
            margin-left: $i * 4 + px;
            margin-right: $i * 4 + px;
        }
        .m-md-#{$i}{
            margin: $i * 4 + px;
        }

    }
}
@for $i from 0 through 50{
    @include iphone{
        .mt-sm-#{$i}{
            margin-top: $i * 4 + px;
        }
        .mb-sm-#{$i}{
            margin-bottom: $i * 4 + px;
        }
        .me-sm-#{$i}{
            margin-right: $i * 4 + px;
        }
        .ms-sm-#{$i}{
            margin-left: $i * 4 + px;
        }
        .my-sm-#{$i}{
            margin-top: $i * 4 + px;
            margin-bottom: $i * 4 + px;
        }
        .mx-sm-#{$i}{
            margin-left: $i * 4 + px;
            margin-right: $i * 4 + px;
        }
        .m-sm-#{$i}{
            margin: $i * 4 + px;
        }

    }
}
@for $i from 0 through 50{
    .pt-#{$i}{
        padding-top: $i * 4 + px;
    }
    .pb-#{$i}{
        padding-bottom: $i * 4 + px;
    }
    .pe-#{$i}{
        padding-right: $i * 4 + px;
    }
    .ps-#{$i}{
        padding-left: $i * 4 + px;
    }
    .py-#{$i}{
        padding-top: $i * 4 + px;
        padding-bottom: $i * 4 + px;
    }
    .px-#{$i}{
        padding-left: $i * 4 + px;
        padding-right: $i * 4 + px;
    }
    .p-#{$i}{
        padding: $i * 4 + px;
    }
}
@for $i from 0 through 50{
    @include pad(){
        .pt-md-#{$i}{
            padding-top: $i * 4 + px;
        }
        .pb-md-#{$i}{
            padding-bottom: $i * 4 + px;
        }
        .pe-md-#{$i}{
            padding-right: $i * 4 + px;
        }
        .ps-md-#{$i}{
            padding-left: $i * 4 + px;
        }
        .py-md-#{$i}{
            padding-top: $i * 4 + px;
            padding-bottom: $i * 4 + px;
        }
        .px-md-#{$i}{
            padding-left: $i * 4 + px;
            padding-right: $i * 4 + px;
        }
        .p-md-#{$i}{
            padding: $i * 4 + px;
        }
    }
}
@for $i from 0 through 50{
    @include iphone(){
            .pt-sm-#{$i}{
                padding-top: $i * 4 + px;
                }
            .pb-sm-#{$i}{
                padding-bottom: $i * 4 + px;
                }
            .pe-sm-#{$i}{
                padding-right: $i * 4 + px;
                }
            .ps-sm-#{$i}{
                padding-left: $i * 4 + px;
                }
            .py-sm-#{$i}{
                padding-top: $i * 4 + px;
                padding-bottom: $i * 4 + px;
                }
            .px-sm-#{$i}{
                padding-left: $i * 4 + px;
                padding-right: $i * 4 + px;
            }
            .p-sm-#{$i}{
                padding: $i * 4 + px;
            }
    }   
}
    
//font-size
.font-xs{
    font-size: $font-xs;
}
.font-s{
    font-size: $font-s;
}
.font-m{
    font-size: $font-m;
}
.font-l{
    font-size: $font-l;
}
.font-xxl{
    font-size: $font-xxl;
}
//font-size for md
.font-md-s{
    @include pad{
        font-size: $font-s;
    }
}
//font weight{
    .font-bold{
        font-weight: 700;
    }
    
// 文字顏色
.text{
    &-primary{
        color: $primary;
    }
    &-secondary{
        color: $secondary;
    }
    &-third{
        color:$third;
    }
    &-grey{
        color: $grey;
    }
    &-white{
        color: $white;
    } 
    @include iphone(){
        &-sm-grey{
            color: $grey;
            &:hover{
                color: $primary;
            }
        }
    }
}
.text-shadow{
    text-shadow: 0.1em 0.1em 0.2em #0D0B0C33;
}
// 背景顏色
.bg-white{
    background-color: $white;
}
.bg-grey{
    background-color: $background;
}
.bg-md-grey{
    @include pad(){
        background-color: $background;
    }
}
.bg-sm-white{
    @include iphone{
        background-color:$white;
    }
}
.bg-sm-grey{
    @include iphone{
        background-color: $background;
    }
}
// flex, d-none
.d-flex{ 
    display: flex;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.inline-block{
    display: inline-block;
}

@include pad{
    .d-md-none{
        display: none;
    }
    .d-md-block{
        display: block;
    }
    .d-md-flex{
        display: flex;
    }
}
@include iphone{
    .d-sm-none{
      display: none;
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-flex{
        display: flex;
    }
}
// box-shadow
.box-shadow{
    box-shadow: 0px 2px 4px 0px #0D0B0C33;
}
@include pad{
    .box-md-shadow{
        box-shadow: 0px 2px 4px 0px #0D0B0C33;
    }
}
.box-shadow-md-none{
    @include pad {
        box-shadow: none;
    }
}
@include iphone(){
    .box-sm-shadow{
        box-shadow: 0px 2px 4px 0px #0D0B0C33;
    }
    .box-shadow-sm-none{
        box-shadow: none;
    }
}


// rounded
.rounded{
    border-radius: 6px;
    @include iphone(){
        &-sm-s{
            border-radius: 4px;
        }
        &-sm-m{
            border-radius: 6px;
        }

    }

}
// p-relative
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
//text-位置
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

// 字體
.font-secondary{
    font-family: $font-secondary;
}
.w100{
    width: 100%;
}
//半透明
.opacity{
    background: #0D0B0C;
    opacity: 0.3;
}
.z-index{
    z-index: 100;
}
.x-auto{
 overflow-x: auto;
}
.fix{
    width: 1280px;
    @include pad{
        width: 1010px;
    }
}
.w-9{
    width: 95%;
}
