// 顏色
$primary: #FF1D6C;
$secondary:#FFB72C;
$third: #007350;
$grey: #ACACAC;
$white: #FFFFFF;
$background: #F6F7FB;

//font-size
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 20px;
$font-xxl: $font-l * 3;

//font-family
$font-primary: 'Noto Sans TC', sans-serif;
$font-secondary: 'Roboto', sans-serif;

